# getsf 260706 official defaults; one display-intensity image, not a photometric band.
benchmark 100 | prefix distance
1 | nwmax
1 1 | nwaves nw[i]
001 9.992496663072 39.969986652288 159.879946609152 n gre | wave beam srcmaxsize filmaxsize apcorr color
../images ../001 | image monochromatic-directory
display | image
y y | sources filaments
y 1 1 50 | separate its1 itf1 niter
y 1 1 | flatten itsd1 itfd1
y | complete
y | combine
y 2 | detect skelsig
n 1 1 50 n | measure goodmin itn itx sproima
n | visualize
5 | nsigmacombos
2 | nsigmacombof
1 | nwavesdetect
0 n | savespace delete
0 | verbosity
#_______________________________________________________________________________
