.object-cubic-sky {
  position: absolute;
  z-index: 0;
  inset: 0;
  overflow: hidden;
  perspective: 86.60254cqh;
  perspective-origin: 50% 50%;
  pointer-events: none;
}

.object-cubic-sky-cube,
.object-cubic-sky-orientation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
}

.object-cubic-sky-cube {
  transform: translateZ(86.60254cqh);
}
