.object-cubic-sky {
  --object-cubic-sky-zoom: 1;
  --object-cubic-sky-camera-distance: max(
    50cqh,
    calc(86.60254cqh * var(--object-cubic-sky-zoom))
  );
  position: absolute;
  z-index: 0;
  inset: 0;
  overflow: hidden;
  perspective: var(--object-cubic-sky-camera-distance);
  perspective-origin: 50% 50%;
  pointer-events: none;
}

.object-cubic-sky-cube,
.object-cubic-sky-orientation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
}

.object-cubic-sky-cube {
  transform: translateZ(var(--object-cubic-sky-camera-distance));
}
